<section class="p-sm mb-section">
  <ul class="container-user d-flex-2">
    <% @users.each do |user| %>
      <li class="user-li d-flex border">
        <div class="img-con">
          <img class="av" src="<%= user.photo %>" alt="User Avatar" />
        </div>

        <div class="user-bdy d-flex">
          <a class="user-pc d-flex" title="view user details" href="/users/<%= user.id %>">
            <h2 class="fs-sm"><%= user.name%></h2>
            <p class="post-count">Number of posts: <%= user.posts_counter || 0 %> </p>
          </a>
        </div>
      </li>
    <% end %>
  </ul>
</section>